<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.ConsumerMapper">

    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Consumer">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <!--根据username查询Consumer对象-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select * from consumerinfo where username = #{username}
    </select>

    <!--插入数据-->
    <insert id="insert" parameterType="cn.edu.henu.bean.Consumer">
        insert into consumerinfo(username,password,name,nickname,sex,tel)
        values(#{username},#{password},#{name},#{nickname},#{sex},#{tel})
    </insert>

    <!--根据主键动态更新-->
    <update id="updateByPrimaryKey" parameterType="cn.edu.henu.bean.Consumer">
        update consumerinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null">
                password = #{password},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
        </trim>
        where username = #{username}
    </update>

</mapper>