<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Order">
        <id column="orderid" property="id"/>
        <result column="cid" property="cid"/>
        <result column="bid" property="bid"/>
        <result column="note" property="note"/>
        <result column="code" property="code"/>
        <result column="status" property="status"/>
        <result column="ordertime" property="orderTime"/>
    </resultMap>

    <resultMap id="OrderDetailMap" type="cn.edu.henu.bean.OrderDetail">
        <id column="id" property="id"/>
        <result column="orderid" property="oid"/>
        <result column="pid" property="pid"/>
        <result column="num" property="num"/>
        <result column="discount" property="discount"/>
        <association property="product" javaType="cn.edu.henu.bean.Product">
            <id column="pid" property="id"/>
            <result column="name" property="productName"/>
            <result column="introduce" property="productIntr"/>
            <result column="price" property="productPrice"/>
            <result column="src" property="photosrc"/>
            <result column="grade" property="productGrade"/>
        </association>
    </resultMap>

    <!--查询指定cid的用户的所有订单-->
    <select id="selectByCid" resultMap="BaseResultMap">
        select * from orderinfo2 where cid= #{cid}
    </select>

    <!--查询指定oid的用户的总订单-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select * from orderinfo2 where orderId = #{oid}
    </select>

    <!--查询指定oid的用户的所有订单-->
    <select id="selectByOid" resultMap="OrderDetailMap">
        select od.*,p.*
        from order_detail od,productinfo p
        where orderid=#{oid} and p.id = od.pid
    </select>

    <!--
        根据商家id查询所有订单
        selectByBid
    -->
    <select id="selectByBid" resultMap="BaseResultMap">
        select * from orderinfo2 where bid = #{bid}
    </select>

    <!--
        updateStatusByOid
        根据订单id修改订单状态
    -->
    <update id="updateStatusByOid">
        update orderinfo2 set status = #{status} where orderid = #{id}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyColumn="orderid" keyProperty="id">
        insert into orderinfo2(code,cid,note,bid,status)
        values (#{code},#{cid},#{note},#{bid},0)
    </insert>

    <insert id="insertToDetail">
        insert into order_detail(orderid,pid,num,discount)
        values (#{oid},#{pid},#{num},#{discount})
    </insert>

</mapper>