*{
    margin: 0;
    padding: 0;
}
html,header,body{
    height: 100%;
    width: 100%;
}
iframe{
    height: 100%;
    width: 100%;
}
#firstTitleArea {
    background: #91C0E3;
    height: 15%;
    width: 100%;
}
#TopArea {
    background: #FFFFFF;
    height: 100%;
    width: 100%;
}
#TitleArea{
    background: #91C0E3;
    height: 5%;
    width: 100%;
}
#mainArea{
    background: snow;
    height: 85%;
    width: 50%;
    margin-top: 2%;
    margin-left: 24%;
    border: 0;
}
#mainFrame{
    border: solid;
    border-color: #1b6d85;
    padding: 0;
}

#TopMainArea{
    background-color: #F2F2F2;
    width: 100%;
    height: auto;
    min-height: 100%;
    border: solid;
    border-color: #1b6d85;

}
.mybtn {
    margin: 10px;
    width: 80%;
    line-height: 100px;
    border: 10px;
    height: 100px;
}
.logindiv {
    margin: 10px;
}
.control-label{
    font-size: medium;
}
.proForm{
    padding: 2%;
}
#proImg{
   width: 10%;
    height: 10%;
}
.navbar-default{
    background-color: #20222A;
    height: 100%;
}
.navbar-header{
    margin-right: -15px;
    margin-left: -15px;
}
. nav-stacked{
    background-color: #009688;
}

.onepage{
    background-color: #FFFFFF;
    border: solid;
    margin-left: 4%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
}
.Dtabel{
    background: snow;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    position: relative;
    display: block;
}
.Dthead{
    float: left;
}
.Dtbody,.Dtr{
    display: inline-block;
}
.Dtd{
    height: 40px;
    width: 300px;
    display: block;
}