@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;height: 100%;
}
ul li{ list-style: none; cursor: pointer;}
.middle{
	width: 100%;
	margin-top: 10px;
}
.product{
	border: 1px solid #f4f4f4;
}
.product:hover{
	background-color:#FFFFF0 ;
}
.quick_link{
	background-color:#F9F5F6;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bottomdiv{
	background-color: black;
	height: 10%;
	width: 100%;
}
.btmp {
	color: white;
	align-content: center;
	text-align: center;
}
.countPrice{
	background: #edcf1c;
}
.countPrice1{
	float: left;
}
.shopCartContainer{
	width: 80%;
}
.notfound{
	align-content: center;
	text-align: center;
	border: 1px solid;
}
.searchPdt{
	text-align: center
}
.divPage{
	text-align: center
}
.cT {
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	display: block;
	float: left;
}

.chooseType {
	width: 80%;
	margin: 2% auto;
	align-content: center;
	border: #0f0f0f 1px solid;

}
.chooseType a {
	outline: none;
	text-decoration: none;
	display: inline-block;
	text-align: center;
}
.chooseType li{
	display: inline-block;
}
.priceRange li {
	width: 5%
}
.priceRange a{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.scoreRange li {
	width: 5%
}
.scoreRange a {
	width: 100%;
	display: inline-block;
	text-align: center;
	#background-color:#666666;
}
.chooseType a:active{
	background-color: #666666;
	border-radius: 25px;
}
.chooseType a:hover{
	background-color: #ADADAD;
	border-radius: 25px;
}
.bussName li{
	width: 5%;
}
.bussName a{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.restaurantName li{
	width: 7%;
}
.restaurantName a{
	width: 100%;
	display: inline-block;
	text-align: center;
}