<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.AdminMapper">

    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Admin">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <resultMap id="OrderMap" type="cn.edu.henu.bean.Order">
        <id column="orderid" property="id"/>
        <result column="cid" property="cid"/>
        <result column="bid" property="bid"/>
        <result column="note" property="note"/>
        <result column="code" property="code"/>
        <result column="status" property="status"/>
        <result column="ordertime" property="orderTime"/>
    </resultMap>

    <resultMap id="BusinessMap" type="cn.edu.henu.bean.Business">
        <id column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="rid" property="rid"/>
        <result column="rname" property="rname"/>
        <result column="wid" property="wid"/>
        <result column="wname" property="wname"/>
        <result column="tel" property="tel"/>
        <result column="grade" property="grade"/>
    </resultMap>

    <resultMap id="ConsumerMap" type="cn.edu.henu.bean.Consumer">
        <id property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="tel" column="tel"/>
    </resultMap>

    <!--根据用户名查询-->
    <select id="selectByPrimarykey" resultMap="BaseResultMap">
        select * from admininfo where username = #{username}
    </select>

    <select id="selectAllOrder" resultMap="OrderMap">
        select * from orderinfo2
    </select>

    <select id="selectAllBusiness" resultMap="BusinessMap">
        select b.*,r.name rname from businessinfo b
        left join restaurantinfo r on b.rid = r.id
    </select>

    <select id="selectAllConsumer" resultMap="ConsumerMap">
        select * from consumerinfo
    </select>

</mapper>
