<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.BusinessMapper">

    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Business">
        <id column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="rid" property="rid"/>
        <result column="wid" property="wid"/>
        <result column="wname" property="wname"/>
        <result column="tel" property="tel"/>
        <result column="grade" property="grade"/>
    </resultMap>

    <!--根据用户名查询-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer">
        select * from businessinfo where username = #{username}
    </select>

    <select id="selectByCondition" parameterType="cn.edu.henu.bean.Business" resultMap="BaseResultMap">
        select * from businessinfo where 1 = 1
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="rid != null">
            and rid = #{rid}
        </if>
        <if test="wid != null">
            and wid = #{wid}
        </if>
        <if test="wname != null">
            and wname = #{wname}
        </if>
        <if test="tel != null">
            and tel = #{tel}
        </if>
    </select>

    <!--根据p：搜索标准来对grade字段进行查询-->
    <select id="selectByGrade" resultMap="BaseResultMap">
        select * from businessinfo where 1 = 1
        <if test="standard == -1">
            and grade &lt; #{grade}
        </if>
        <if test="standard == 0">
            and grade = #{grade}
        </if>
        <if test="standard == 1">
            and grade &gt; #{grade}
        </if>
    </select>

    <!--添加商家 返回主键-->
    <insert id="insert" parameterType="cn.edu.henu.bean.Business" useGeneratedKeys="true" keyProperty="username">
        insert into businessinfo(password,name,rid,wid,wname,tel,grade)
        values(#{password},#{name},#{rid},#{wid},#{wname},#{tel},'-1')
    </insert>

    <!--根据商家username删除用户-->
    <delete id="deleteByPrimaryKey" parameterType="Integer">
        delete from businessinfo where username = #{username}
    </delete>

    <!--根据主键动态更新-->
    <update id="updateByPrimaryKey" parameterType="cn.edu.henu.bean.Business">
        update businessinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="password != null">
                password = #{password},
            </if>
            <if test="rid != null">
                rid = #{rid},
            </if>
            <if test="wid != null">
                wid = #{wid},
            </if>
            <if test="wname != null">
                wname = #{wname},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
        </trim>
        where username = #{username}
    </update>

</mapper>