<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Comment">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="bid" column="bid"/>
        <result property="pid" column="pid"/>
        <result property="grade" column="grade"/>
        <result property="comment" column="comment"/>
    </resultMap>

    <resultMap id="CommentsMap" type="cn.edu.henu.bean.Comment">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="bid" column="bid"/>
        <result property="pid" column="pid"/>
        <result property="grade" column="grade"/>
        <result property="comment" column="comment"/>
        <association property="product" column="pid"
                     select="cn.edu.henu.dao.ProductMapper.selectSimpleById"
                     javaType="cn.edu.henu.bean.Product"/>
        <association property="business" column="bid"
                     select="cn.edu.henu.dao.BusinessMapper.selectByPrimaryKey"
                     javaType="cn.edu.henu.bean.Business"/>
    </resultMap>

    <!--获取全部评论-->
    <select id="selectAll" resultMap="CommentsMap">
        select * from commentinfo
    </select>

    <!--根据商品id获取-->
    <select id="selectByPId" resultMap="BaseResultMap">
        select * from commentinfo where pid=#{pid}
    </select>

    <!--根据用户id获取-->
    <select id="getAllByCid" resultMap="CommentsMap">
        select * from commentinfo where cid=#{cid}
    </select>

    <select id="getOneByCidAndPid" resultMap="BaseResultMap">
        select * from commentinfo where cid=#{cid} and pid=#{pid}
    </select>

    <!--
        添加评论
    -->
    <insert id="insert">
        insert into commentinfo(cid,bid,pid,grade,comment)
        values(#{cid},#{bid},#{pid},1,#{comment})
    </insert>

    <!--
        删除评论
    -->
    <delete id="deleteByPrimaryKey">
        delete from commentinfo where id = #{id}
    </delete>

    <update id="updateByPrimaryKey">
        update commentinfo set comment=#{comment} where id=#{id}
    </update>

</mapper>