<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Order">
        <id column="orderId" property="orderId"/>
        <result column="note" property="note"/>
        <result column="code" property="code"/>
        <result column="orderTime" property="orderTime"/>
        <result column="status" property="status"/>
        <result column="pnum" property="num"/>
        <result column="discountUse" property="discountUse"/>
        <result column="bid" property="bid"/>
        <result column="pid" property="pid"/>
    </resultMap>

    <resultMap id="ConsumerOrderMap" type="cn.edu.henu.bean.Order">
        <id column="orderId" property="orderId"/>
        <result column="note" property="note"/>
        <result column="code" property="code"/>
        <result column="orderTime" property="orderTime"/>
        <result column="status" property="status"/>
        <result column="pnum" property="num"/>
        <result column="discountUse" property="discountUse"/>
        <result column="bid" property="bid"/>
        <result column="pid" property="pid"/>
        <association property="product" column="pid"
                     javaType="cn.edu.henu.bean.Product"
                     select="cn.edu.henu.dao.ProductMapper.selectSimpleById">
        </association>
        <association property="business" column="bid"
                     javaType="cn.edu.henu.bean.Business"
                     select="cn.edu.henu.dao.BusinessMapper.selectByPrimaryKey">
        </association>
    </resultMap>

    <resultMap id="BusinessOrderMap" type="cn.edu.henu.bean.Order">
        <id column="orderId" property="orderId"/>
        <result column="note" property="note"/>
        <result column="code" property="code"/>
        <result column="orderTime" property="orderTime"/>
        <result column="status" property="status"/>
        <result column="pnum" property="num"/>
        <result column="discountUse" property="discountUse"/>
        <result column="cid" property="cid"/>
        <result column="pid" property="pid"/>
        <association property="consumer" column="cid"
                     javaType="cn.edu.henu.bean.Consumer"
                     select="cn.edu.henu.dao.ConsumerMapper.selectByPrimaryKey">
        </association>
        <association property="product" column="pid"
                     javaType="cn.edu.henu.bean.Product"
                     select="cn.edu.henu.dao.ProductMapper.selectSimpleById">
        </association>
    </resultMap>

    <!--查询指定cid的用户的所有订单
        传递的id等于order表中的cid
        order表的cid等于consumer表的username
        查询到的商家id和产品名称联合查询product表
    -->
    <select id="selectByCid" resultMap="ConsumerOrderMap">
        select * from orderinfo where cid= #{cid}
    </select>

    <!--
        根据商家id查询所有订单
        selectByBid
    -->
    <select id="selectByBid" resultMap="BusinessOrderMap">
        select * from orderinfo where bid = #{bid}
    </select>

    <!--
        updateStatusByOid
        根据订单id修改订单状态
    -->
    <update id="updateStatusByOid">
        update orderinfo set status = #{status} where orderid = #{id}
    </update>

    <!--
        updateAllStatusByPid
        根据订单上的商品id批量更改订单状态
    -->
    <update id="updateAllStatusByPid">
        update orderinfo set status = #{status} where pid = #{pid}
    </update>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select * from orderinfo where orderId = #{oid}
    </select>

</mapper>