<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.OrderMapper">

    <resultMap id="ConsumerOrderMap" type="cn.edu.henu.bean.Order">
        <id column="orderId" property="orderId"/>
        <result column="note" property="note"/>
        <result column="code" property="code"/>
        <result column="orderTime" property="orderTime"/>
        <result column="status" property="status"/>
        <result column="pnum" property="num"/>
        <result column="discountUse" property="discountUse"/>
        <association property="consumer" javaType="cn.edu.henu.bean.Consumer">
            <id property="username" column="username"/>
            <result property="nickname" column="nickname"/>
            <result property="tel" column="tel"/>
        </association>
        <association property="product" javaType="cn.edu.henu.bean.Product">
            <id property="id" column="id"/>
            <result property="productName" column="name"/>
            <result property="productPrice" column="price"/>
        </association>
        <association property="business" javaType="cn.edu.henu.bean.Business">
            <id property="username" column="username"/>
            <result property="wid" column="wid"/>
            <result property="wname" column="wname"/>
            <result property="rid" column="rid"/>
        </association>
    </resultMap>

    <!--查询指定cid的用户的所有订单
        传递的id等于order表中的cid
        order表的cid等于consumer表的username
        查询到的商家id和产品名称联合查询product表
    -->
    <select id="selectByCid" resultMap="ConsumerOrderMap">
        select o.orderid,o.code,o.ordertime,o.note,o.pnum,o.status,o.discountuse,o.cid,
        c.nickname,c.tel,b.username,b.wid,b.wname,b.rid,p.id,p.name,p.price
        from orderinfo o
        left join consumerinfo c on o.cid = c.username
        left join productinfo p on o.pid = p.id left join businessinfo b on o.bid = b.username
        where o.cid = #{id}
    </select>

    <!--
        updateStatus
        修改订单状态
    -->
    <update id="updateStatus">
        update orderinfo set status = #{status} where orderid = #{id}
        <selectKey order="AFTER" keyProperty="status" keyColumn="status" resultType="Integer">
            select status from orderinfo where orderid = #{id}
        </selectKey>
    </update>

</mapper>