<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.ProductMapper">

    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Product">
        <id property="id" column="id"/>
        <result property="productName" column="name"/>
        <result property="productIntr" column="introduce"/>
        <result property="productPrice" column="price"/>
        <result property="photosrc" column="src"/>
        <result property="productGrade" column="grade"/>
    </resultMap>

    <resultMap id="AssociationResultMap" type="cn.edu.henu.bean.Product">
        <id property="id" column="id"/>
        <result property="productName" column="name"/>
        <result property="productIntr" column="introduce"/>
        <result property="productPrice" column="price"/>
        <result property="photosrc" column="src"/>
        <result property="productGrade" column="grade"/>
        <result property="bid" column="bid"/>
        <association property="business" column="bid"
                     javaType="cn.edu.henu.bean.Business"
                     select="cn.edu.henu.dao.BusinessMapper.selectByPrimaryKey">
        </association>
    </resultMap>

    <!--仅获取商品信息-->
    <select id="selectSimpleById" resultMap="BaseResultMap">
        select * from productinfo where id = #{id}
    </select>

    <!--仅获取商品信息-->
    <select id="selectAllSimple" resultMap="BaseResultMap">
        select * from productinfo
    </select>

    <!--查询所有商品信息 包含商家信息(懒加载)-->
    <select id="selectAll" resultMap="AssociationResultMap">
        select * from productinfo
    </select>

    <!--
        条件查询(懒加载)
            商品名字或者店铺名字
        selectByCondition
    -->
    <select id="selectByCondition" resultMap="AssociationResultMap">
        select * from productinfo
        where 1 = 1
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="price != null">
            and price >= #{price}
        </if>
        <if test="grade != null">
            and grade >= #{grade}
        </if>
    </select>

    <!--
        根据商家id获取商品信息
        getAllByBid
    -->
    <select id="getAllByBid" resultMap="BaseResultMap">
        select p.*
        from productinfo p,businessinfo b
        where b.username=#{bid} and b.username= p.bid
    </select>

    <!--
        查询数据总量
        selectTotal
    -->
    <select id="selectTotal" resultType="Integer">
        select count(id) from productinfo p where 1 =1
        <if test="name != null">
            and p.name = #{name}
        </if>
        <if test="price != null">
            and p.price >= #{price}
        </if>
        <if test="grade != null">
            and p.grade >= #{grade}
        </if>
    </select>

    <!--
        添加商品
        insert
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.edu.henu.bean.Product">
        insert into productinfo(bid,name,introduce,price,src,grade)
        values(#{bid},#{productName},#{productIntr},#{productPrice},#{photosrc},-1)
    </insert>

    <!--
        修改商品信息
        updateByPrimaryKey
    -->
    <update id="updateByPrimaryKey">
        update productinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="productName != null">
                name = #{productName},
            </if>
            <if test="productIntr != null">
                introduce = #{productIntr},
            </if>
            <if test="productPrice != null">
                price = #{productPrice},
            </if>
            <if test="productGrade != null">
                grade = #{productGrade},
            </if>
        </trim>
        where id = #{id}
    </update>

    <!--
        删除商品
        deleteByPrimaryKey
    -->
    <delete id="deleteByPrimaryKey">
        delete from productinfo where id = #{id}
    </delete>

</mapper>