<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.henu.dao.ShopMapper">

    <resultMap id="BaseResultMap" type="cn.edu.henu.bean.Shop">
        <id column="id" property="id"/>
        <result column="cid" property="cid"/>
        <result column="bid" property="bid"/>
        <result column="pid" property="pid"/>
        <result column="pnum" property="pnum"/>
        <result column="discountuse" property="discountuse"/>
    </resultMap>

    <resultMap id="ShopProductMap" type="cn.edu.henu.bean.Shop">
        <id column="id" property="id"/>
        <result column="cid" property="cid"/>
        <result column="bid" property="bid"/>
        <result column="pid" property="pid"/>
        <result column="pnum" property="pnum"/>
        <result column="discountuse" property="discountuse"/>
        <association property="product" javaType="cn.edu.henu.bean.Product">
            <id column="ppid" property="id"/>
            <result column="name" property="productName"/>
            <result column="price" property="productPrice"/>
            <result column="src" property="photosrc"/>
            <result column="status" property="status"/>
        </association>
    </resultMap>

    <select id="selectByPrimaryKey" resultMap="ShopProductMap">
        select s.id,s.cid,s.bid,s.pid,s.pnum,s.discountuse,p.id ppid,p.name,p.price,p.src,p.status
        from shopinfo s,productinfo p
        where s.id = #{id} and s.pid = p.id
    </select>

    <select id="batchSelect" resultMap="ShopProductMap">
        select s.id,s.cid,s.bid,s.pid,s.pnum,s.discountuse,p.id ppid,p.name,p.price,p.src,p.status
        from shopinfo s,productinfo p
        where s.id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and s.pid = p.id
    </select>

    <select id="selectAll" resultMap="ShopProductMap">
       select s.id,s.cid,s.bid,s.pid,s.pnum,s.discountuse,p.id ppid,p.name,p.price,p.src,p.status
        from shopinfo s,productinfo p
        where s.pid = p.id
    </select>

    <select id="selectByCid" resultMap="ShopProductMap">
        select s.id,s.cid,s.bid,s.pid,s.pnum,s.discountuse,p.id ppid,p.name,p.price,p.src,p.status
        from shopinfo s,productinfo p
        where s.cid=#{cid} and s.pid = p.id
    </select>

    <select id="selectByPid" resultMap="BaseResultMap">
        select * from shopinfo
        where pid = #{pid}
    </select>

    <insert id="insert">
        insert into shopinfo(cid,bid,pid,pnum,discountuse)
        values(#{cid},#{bid},#{pid},#{pnum},0)
    </insert>

    <delete id="deleteByPrimaryKey">
        delete from shopinfo where id=#{id}
    </delete>

    <delete id="batchDelete" parameterType="java.util.List">
        delete from shopinfo where id IN
        <foreach collection="list" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <update id="updateByPrimaryKey">
        update shopinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="pnum != null">
                pnum = #{pnum},
            </if>
            <if test="discountuse != null">
                discountuse = #{discountuse},
            </if>
        </trim>
        where id = #{id}
    </update>

</mapper>